.calculator {
    display:flex;
    flex-direction: column;
    margin: auto;
    height: 700px;
    width: 400px;
    border-style: solid;
    border-color: black;
}

#display {
    padding: 50px;
}

.buttons {
    display: flex;
    flex-direction: rows;
    flex-grow: 1;
}

.center-buttons > div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    background-color: cyan;
    font-size: 72px;
}


